.app_form_input {
  display: flex;
  flex-direction: column;

  & > label {
    margin-bottom: 6px;

    & > span {
      font-size: 15px;
      font-weight: $dem;
    }
  }

  input {
    width: 100%;
    height: 46px;
    padding: 0 16px;
    font-size: 15px;
    font-weight: $dem;
    border-radius: 4px;
    margin-bottom: 2px;
    background: $input_bg;
    border: 0 solid transparent;
  }

  & > span.app_input_error {
    color: $red;
    font-size: 13px;
    font-weight: $dem;
  }
}

.app_custom_indicator {
  width: 20px;
  height: 20px;
  position: relative;

  &.app_active_icon {
    svg path {
      stroke: $btn_bg;
    }
  }
}
.app_visually_hidden {
  display: none;
  pointer-events: none;
}

.app_form_checkbox {
  display: flex;

  label {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: flex-start;
    cursor: pointer;
    gap: 10px;

    & > input {
      height: auto;
      margin-top: 4px;
    }

    & > span {
      font-size: 15px;
      font-weight: $dem;
      height: 20px;
      line-height: 22px;

      &.app_actv_color {
        color: $btn_bg;
      }

      &.app_custom_indicator {
        svg {
          width: 20px;
          height: 20px;
        }
      }
    }
  }
}

.app_form_btn {
  width: 100%;
  height: 46px;
  display: flex;
  font-size: 15px;
  font-weight: $dem;
  border-radius: 4px;
  align-items: center;
  justify-content: center;
  border: 0 solid transparent;

  &.btn_actv {
    color: $white;
    background: $btn_bg;
  }

  &.btn_disable {
    color: $black;
    background: $btn_disable;
  }

  .app_disable_spin {
    display: flex;
    align-items: center;

    p {
      color: $black;
    }

    .app_spinner {
      border: 2px solid transparent;
      border-top: 2px solid $black;
      border-left: 2px solid $black;
      border-right: 2px solid $black;
      border-radius: 50%;
      width: 16px;
      height: 16px;
      margin: 10px;
      animation: spin 1s linear infinite;
    }
  }
}
